/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/scss/bootstrap.scss";

// PrimeNg styles
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";

// Angular Material styles
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
}

.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-box-item {
  flex: 1;
  overflow-y: auto;
}

.content {
  padding: 10px 16px;
}

.full-height {
  height: 100%;
}

.layout-sidenav {
  width: 18em;
}

ar-article-tree p-tree .ui-tree {
  height: 100%;
  &.ui-widget-content {
    border: none;
  }
}

ar-root {
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;

  ar-sidenav {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    .mat-sidenav-content {
      position: absolute;
      left: 0;
      right: 0;
    }

    .mat-sidenav-container {
      width: 100%;
    }
  }
}

ar-navbar {
  z-index: 10;
  position: relative;
}

.flex-spacer {
  flex: 1 1 auto;
}

.page-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Font sizes */
.text-1-5 {
  font-size: 1.5em;
}